#loaderOverlay {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: top center;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loaderOverlay.load {
  animation: scaleOut 1s cubic-bezier(0.85, 0, 0.15, 1) 0.05s;
  animation-fill-mode: both;
}

#loaderOverlay img {
  width: 300px;
  height: auto;
  opacity: 0.2;
  pointer-events: none;
  user-select: none;
}

#loaderOverlay.load img {
  animation: fadeUp 1s cubic-bezier(0.85, 0, 0.15, 1);
  animation-fill-mode: both;
}

#loaderBar {
  background: rgb(255, 91, 77);
  position: absolute;
  height: 150px;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  transform: scaleX(0);
  transform-origin: center left;
}

#loaderBar.load {
  animation: scaleIn 3s cubic-bezier(0.85, 0, 0.15, 1);
  animation-fill-mode: both;
}

#loaderBarDigits {
  padding: 0.5em;
  font-size: 60px;
  line-height: 1;
  font-weight: bold;
}

#loaderBar.load #loaderBarDigits {
  animation: fadeIn 1s cubic-bezier(0.85, 0, 0.15, 1) 0.6s;
  animation-fill-mode: both;
}

#loaderBarDigits:after {
  content: '%';
}

@keyframes scaleIn {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleOut {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0.2;
    transform: translateY(0%);
  }
  75% {
    opacity: 0;
    transform: translateY(-75vh);
  }
  100% {
    transform: translateY(-100vh);
  }
}
